<div class="portfolio">
    <article class="project-1">
        <div class="container">
            <h3>Example project 1</h3>
            <time>01-01-18</time>
            <p><img src="./img/">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet elementum
                nulla, id fermentum lorem. Pellentesque orci nisi, finibus vel lacus quis, bibendum pellentesque turpis. Ut finibus dictum tincidunt. Etiam ac erat sit amet lorem finibus rutrum. Aenean ultricies sit amet nulla eget blandit. Curabitur non libero quis dui imperdiet vulputate quis id erat. Mauris at elit mi.</p>
            <ul>
                <li><a>Project page</a></li>
                <li><a>Github link</a></li>
                <li><a>Store listing</a></li>
                <li><a>Other link</a></li>
            </ul>
        </div>
    </article>
    <article class="project-2">
        <div class="container">
            <h3>Example project 2</h3>
            <time>01-01-18</time>
            <p><img src="./img/">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet elementum
                nulla, id fermentum lorem. Pellentesque orci nisi, finibus vel lacus quis, bibendum pellentesque turpis. Ut finibus dictum tincidunt. Etiam ac erat sit amet lorem finibus rutrum. Aenean ultricies sit amet nulla eget blandit. Curabitur non libero quis dui imperdiet vulputate quis id erat. Mauris at elit mi.</p>
            <ul>
                <li><a>Project page</a></li>
                <li><a>Github link</a></li>
                <li><a>Store listing</a></li>
                <li><a>Other link</a></li>
            </ul>
        </div>
    </article>