body {
    overflow: hidden;
}

header {
    width: 100%;
    height: calc(100vh);
    padding: 50px 20px 20px 20px;
    background-size: cover;
}

header, main>.container, footer {
    min-height: 100vh;
}

main>.container, footer {
    padding: 7vh 3vh;
}

header .container, article .container, form .container {
    background-color: white;
    padding: 20px;
}

#topBtn {
    visibility: hidden;
}

section {
    background-size: cover;
}

section > div > *{
    padding-top: 132px;
    height: 100vh;
}

#landing-header { background: url("../assets/img/landing-bg.jpg") no-repeat fixed center; }
#programmer-header { background: url("../assets/img/programming-bg.jpg") no-repeat fixed center; }
#game-developer-header { background: url("../assets/img/game-development-bg.jpg") no-repeat fixed center; }
#game-designer-header { background: url("../assets/img/game-design-bg.jpg") no-repeat fixed center; }

a.page-nav-link, a.page-nav-link:visited{
    position: fixed;
    text-align: center;
    text-decoration: none;
    color: white;
}

a#down-button {bottom:0;left: 0;}
a#up-button {top:0;left: 0;}
a#right-button {top: 0;right: 0;}
a#left-button {top: 0;left: 0;}
a#down-button div, a#up-button div {
    position: relative;
    width: 100vw;
    height: 5vh;
}
a#right-button div, a#left-button div {
    position: relative;
    bottom: -50%;
    width: 5vh;
    height: 100vh;
}
a#down-button span, a#up-button span, a#right-button span, a#left-button span {
    top:calc(50% - 8px);
}


a>div {
    background-color: transparent;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}
a>div:hover {
    background-color: rgba(90, 90, 90, .5);
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}

div#cover {
    position: fixed;
    width: calc(100vw);
    height: 100vh;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}