body {
    overflow: hidden;
}

header {
    width: 100%;
    height: calc(100vh);
    padding: 50px 20px 20px 20px;
    background-size: cover;
}

header .container, article .container, form .container {
    background-color: white;
    padding: 20px;
}
header img {
    padding: 10px;
}

main .sticky-top {
    top: 66px;
}

article {
    padding: 2.5% 0;
}

footer {
    height: 100px;
}

#topBtn {
    visibility: hidden;
}

section {
    transition-duration: 500ms;
    background-size: cover;
}

section > div > *{
    padding-top: 132px;
    height: 100vh;
}

#landing-header { background: url("../assets/img/landing-bg.jpg") no-repeat fixed center; }
#programming-header { background: url("../assets/img/programming-bg.jpg") no-repeat fixed center; }
#game-development-header { background: url("../assets/img/game-development-bg.jpg") no-repeat fixed center; }
#game-design-header { background: url("../assets/img/game-design-bg.jpg") no-repeat fixed center; }

a.page-nav-link, a.page-nav-link:visited{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
}

a#down-button {bottom:0;left: 0;}
a#up-button {top:0;left: 0;}
a#right-button {top: 0;right: 0;}
a#left-button {top: 0;left: 0;}
a#down-button div, a#up-button div {
    position: relative;
    width: 100vw;
    height: 5vh;
}
a#right-button div, a#left-button div {
    position: relative;
    bottom: -50%;
    width: 5vh;
    height: 100vh;
}
a#down-button span, a#up-button span, a#right-button span, a#left-button span {
    top:calc(50% - 8px);
}


a>div {
    background-color: transparent;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}
a>div:hover {
    background-color: #aaaaff;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}