<div class="container">
    <div class="mx-auto text-center">
        <img src="assets/monogram/Programmer-Mono.png" height="20%" width="20%"/>
        <h1 class="display-4">Daniel Krysztofiak<br><small class="text-muted">Programmer</small></h1>
    </div>
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <p class="lead text-justify">Back in Summer 2017 I finished my IT-Assistant
                    Education in Germany and am now programming a lot in my spare
                    time. I'm not restricted to a single type of development and
                    have experience with web design & development (using HTML, CSS & JavaScript +
                    frameworks), data base application (using mySQL & PHP + frameworks),
                    standalone applications(using Java, C# & C++) as well as
                    Android development (using Java).
                </p>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="h5 text-center">You can scroll down to explore some of my past projects.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"><a class="btn btn-outline-dark btn-lg btn-block shortcut" id="shortcut-landing">Home</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-danger btn-lg btn-block shortcut" id="shortcut-game-developer">Game Developer</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-success btn-lg btn-block shortcut" id="shortcut-game-designer">Game Designer</a></div>
    </div>
</div>