<div class="container">
    <div class="mx-auto text-center">
        <img src="assets/monogram/Game-Designer-Mono.png" height="20%" width="20%"/>
        <h1 class="display-4">Daniel Krysztofiak<br><small class="text-muted">Game Designer</small></h1>
    </div>
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <p class="lead text-justify">I started further pursuing my dream of
                    becoming a Game Developer and Designer back in Summer 2017 by
                    moving to Groningen in the Netherlands and joining a Bachelors
                    Degree Program at Hanze UAS. So far I've worked on a couple of
                    smaller serious-games during those studies and also spend time
                    on designing a few passion projects.
                </p>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="h5 text-center">You can scroll down to explore some of my past projects.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"><a class="btn btn-outline-dark btn-lg btn-block shortcut" id="shortcut-landing">Home</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-primary btn-lg btn-block shortcut" id="shortcut-programmer">Programmer</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-danger btn-lg btn-block shortcut" id="shortcut-game-developer">Game Developer</a></div>
    </div>
</div>