
<h2 class="sr-only">Navigation</h2>
<div class="container">

    <a class="navbar-brand" href="#">
        <img src="assets/monogram/Daniel-Krysztofiak-Monogram-Small.png" height="40" width="40"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pageNav" aria-controls="pageNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="pageNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link active" href="#default">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#programming">Programmer</a></li>
            <li class="nav-item"><a class="nav-link" href="#game-development">Game Developer</a></li>
            <li class="nav-item"><a class="nav-link" href="#game-design">Game Designer</a></li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-sm btn-outline-secondary" type="button" id="topBtn" onclick="scrollToTop()">Top</button>
        </form>
    </div>
</div>