<a id="down-button" class="page-nav-link">
    <div class="page-nav-container">
        <span class="oi oi-chevron-bottom" title="scroll right" aria-hidden="true"></span>
    </div>
</a>
<a id="up-button" class="page-nav-link">
    <div class="page-nav-container">
        <span class="oi oi-chevron-top" title="scroll up" aria-hidden="true"></span>
    </div>
</a>
<a id="right-button" class="page-nav-link">
    <div class="page-nav-container">
        <span class="oi oi-chevron-right" title="scroll right" aria-hidden="true"></span>
    </div>
</a>
<a id="left-button" class="page-nav-link">
    <div class="page-nav-container">
        <span class="oi oi-chevron-left" title="scroll left" aria-hidden="true"></span>
    </div>
</a>