<div class="container">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <a class="btn btn-lg btn-block btn-outline-light" id="contact">
            <h5 class="mb-1"><span class="oi oi-envelope-closed align-bottom" title="scroll left" aria-hidden="true"></span> Get in Touch</h5>
        </a>
    </div>
    <hr class="my-5">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
        <p class="lead">
            Copyright 2018 - Daniel Krysztofiak <br>
            <a href="#">Disclaimer</a>
        </p>
    </div>
</div>