<div class="container">
    <div class="mx-auto text-center">
        <img src="assets/monogram/Daniel-Krysztofiak-Monogram.png" height="20%" width="20%"/>
        <h1 class="display-4">Daniel Krysztofiak</h1>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <p class="lead text-justify">
                    Hey there, thanks for taking the time to look at
                    my portfolio site. My name is Daniel and I
                    <b>develop standalone, web and android applications</b>
                    and also <b>design and develop games.</b></p>
                <!--<p class="lead text-justify">-->
                    <!--I'm 20 years old and originally from Germany, but am-->
                    <!--currently staying in the Netherlands to study-->
                    <!--Game Design and Development and to further-->
                    <!--pursue my dreams.</p>-->
            </div>
            <div class="col-lg-3 col-md-2 col-sm-auto"></div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    If you want to know more about myself, who I am and
                    what I do, click the arrow at the bottom or simply
                    scroll down. If you already know what kind of work
                    you want to see, you can also just click on one of
                    the buttons below. If you want to view some of the
                    work I have done so far, feel free to explore by
                    pressing the arrow on the right or again by simply
                    scrolling right (if you're mouse has that feature).
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"><a class="btn btn-outline-primary btn-lg btn-block shortcut" id="shortcut-programmer">Programmer</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-danger btn-lg btn-block shortcut" id="shortcut-game-developer">Game Developer</a></div>
        <div class="col-lg-4"><a class="btn btn-outline-success btn-lg btn-block shortcut" id="shortcut-game-designer">Game Designer</a></div>
    </div>
</div>