<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-auto"></div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <p class="lead text-justify">
                Hey there, thanks for taking the time to look at
                my portfolio site. My name is Daniel and I
                <b>develop standalone, web and android applications</b>
                and also <b>design and develop games.</b></p>
            <p class="lead text-justify">
                I'm 20 years old and originally from Germany, but am
                currently staying in the Netherlands to study
                Game Design and Development and to further
                pursue my dreams.</p>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-auto"></div>
    </div>
</div>