<div class="container shadow-lg text-center">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/img/mug-shot.jpg" class="img-fluid rounded mx-auto" alt="Me at GGJ2018 in Gronignen">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h4 class="display-4">About me</h4>
            <p class="lead text-justify">I'm 20 years old and originally from Germany, but am currently staying in the Netherlands to study Game Design and Development and to further pursue my dreams. I love learning about anything related to technology and always strife to improve my abilities as a developer. I hope to one day lead and work in my own game company and help with problems all around the world by making use of normal and serious games to raise awareness and address various issues.</p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <h4>Links</h4>
            <div class="list-group">
                <a href="https://www.linkedin.com/in/daniel-krysztofiak/" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1"><img src="assets/img/linkedin.png" width="60" height="60"> My LinkedIn</h5>
                </a>
                <a href="https://github.com/ArcticCrow" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1"><img src="assets/img/github.png" width="60" height="60"> My Github</h5>
                </a>
                <a href="https://arctic-crow.com" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1"><img src="assets/img/arcticcrow.png" width="60" height="60"> My Developer Log <small class="text-muted">(WIP)</small></h5>
                </a>
                <a href="mailto:daniel@krysztofiak.de?Subject=Your%20subject%20here" class="list-group-item list-group-item-action flex-column align-items-start">

                </a>
            </div>
        </div>
    </div>
</div>